<div class="container">
<h4>Http Methods |get|post|put|delete</h4>
</div>
<form [formGroup]="form" class="form-group">
    <label>FirstName:</label>
    <input type="text" class="form-control" formControlName="Firstname"><br>
    <label>LastName:</label>
    <input type="text" class="form-control" formControlName="lastname"><br>
    <button type="submit"  (click)="su(item)" class="btn btn-primary">Submit</button>&nbsp;
    <button type="submit" (click)="up()"class="btn btn-primary">Update</button>
</form><br>
<table class="table" border="1">
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            
        </tr>
        <tr *ngFor="let d of fdata">
            <td>{{d.id}}</td>
            <td>{{d.Firstname}}</td>
            <td>{{d.lastname}}</td>
            
            <td>
                    <button type="submit" (click)="ed(d)" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="submit" (click)="ed(d)" class="btn btn-primary">Click</button>&nbsp;
                    <button type="submit" (click)="del(d)" class="btn btn-primary">Delete</button>
            </td>      
                   
            
        </tr>
    </table>
    
    